@import "reset.css";

body {
  background:url("../img/background.png") center/cover no-repeat;
}

.container {
  width: 1360px;
  margin: 0 auto;
}

.logo {
  display: flex;
  position: relative;
  text-decoration: none;
}

.img-logo {
  background: url(../img/logo.png);
  width: 53px;
  height: 47px;
}

.first-line-logo{
  font-size: 29px;
  width: 140px;
  height: 30px;
}

.second-line-logo{
  list-style-type: none;
  font-weight: bold;
  font-size: 18px;
  color: white;
  padding-left: 8px;
  padding-bottom: 22px;
}

.photo{
  width:300px;
  height:220px;
}

.logo:hover .second-line-logo{
  color: #f26522;
}

.settings {
  margin-left: 175px;
  margin-top:50px;
  margin-right:175px;
  margin-bottom:0px;
  display: flex;
  justify-content: space-between;
}

.contacts {
  font-size: 18px;
  line-height: 18px;
  list-style-type: none;
  text-align: end;
  margin: 0;
  padding-bottom: 17px;
}

.contacts-settings {
  font-size: 18px;
  color:white;
  text-decoration: none;
}

.contacts:hover .contacts-settings {
  color: #f26522;
}

.poster {
  display: grid;
  grid-template: repeat(2, 300px) / repeat(3, 300px);
  justify-content: center;
  grid-column-gap: 60px;
  list-style-type: none;
  text-align: center;
  padding-left: 0px;
}

.under-table {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: white;
  padding-top: 20px;
}

.poster-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.table {
  display: none;
  position: absolute;
  font-size: 14px;
  color:white;
  text-decoration: none;
  background-color: #f26522;
  width: 300px;
  height: 55px;
}

.first-line-table {
  display: block;
  padding: 7px 250px 8px 0;
  font-size: 10px;
}

.table-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}

.second-line-table {
  display: block;
  font-size: 20px;
  padding-left: 16px;
}

.second-line-table-2::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 15px;
  margin-left: 10px;
  vertical-align: middle;
  background: url("../img/psevdoclass.png") no-repeat;
}

.poster-settings:hover .table {
  display: block;
}

.poster-settings:hover .under-table {
  color: #f26522;
}

.footer {
  font-size: 12px;
  color:white;
  text-align: center;
}
